/* For use in src/lib/core/theming/_palette.scss */
$md-mcgpalette0: (
    50 : #f6faf5,
    100 : #e9f3e5,
    200 : #dbebd4,
    300 : #cce3c2,
    400 : #c1ddb5,
    500 : #b6d7a8,
    600 : #afd3a0,
    700 : #a6cd97,
    800 : #9ec78d,
    900 : #8ebe7d,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #e7ffde,
    A700 : #d4ffc4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

