<!-- <div class="d-none d-lg-block" style="padding-top: 20px;">
	<div class="info-box">
		<header>Info</header>
		<main>

		</main>
	</div>

	<div class="info-box info-box-user-list">
		<header>Visitors</header>
		<main>
			<ul>
			</ul>
		</main>
	</div>

	<div class="info-box info-box-user-list">
		<header>Followers ({{(user$ | async).followersCount}})</header>
		<main>
			<ul>
				<li *ngFor="let follower of (user$ | async).followers ">
					<img src="{{follower.img}}">
					<span>{{follower.name}}</span>
				</li>
			</ul>
		</main>
	</div>
</div> -->

<div class="feed-container">

	<!-- <div class="comment-filter-box">

		<form name="form" (ngSubmit)="commentFilterForm.form.valid && login($event)" #commentFilterForm="ngForm" novalidate>
			<div class="form-group" [ngClass]="{ 'has-error': commentFilterForm.submitted && !email.valid }">
				<label class="form-control-label" for="type">Type
					<span *ngIf="commentFilterForm.submitted && email.errors?.email" class="help-block">invalid email</span>
					<span *ngIf="commentFilterForm.submitted && email.errors?.required" class="help-block">required</span>
				</label>
				<select [disabled]="loading$ | async" [(ngModel)]="filterModel.type" name="type" 
				 class="form-control" id="type" placeholder="Type" required>
				 <option value="all" selected="selected">All</option>
				 <option value="following">Following</option>
				 <option value="news">News</option>
				</select>
			</div>
		</form>
	</div> -->

	<div class="feed">

		<!-- Comment box-->
		<app-comment-box *ngIf="!commentId" [userId]="userId" (newMessage)="addMessage($event)"></app-comment-box>

		<ng-container *ngFor="let comment of comments$ | async; trackBy: trackByFn">
			<article *ngIf="comment.type === 'ad'" class="comment-ad-container">
				(ad)
				<ins class="adsbygoogle" style="display:block; text-align:center;" data-ad-layout="in-article"
					data-ad-format="fluid" data-ad-client="ca-pub-1181429338292864" data-ad-slot="5683371400"></ins>
			</article>
			<article *ngIf="comment.type === 'intel-momentum'" class="comment-alert-container">
				<a [routerLink]="['/symbols']"
					[queryParams]="{symbol: comment.data.symbolUpModel.name}">
					<i class="symbol-img symbol-img-{{comment.data.symbolUpModel.name}}"></i>
					<div style="width: 100%">
						<p>{{comment.data.symbolUpModel.displayName}}</p>
						<p><i class="fa fa-arrow-up"></i>{{comment.data.symbolUpModel.changedDAmount}}%
						</p>
					</div>

				</a>

				<a [routerLink]="['/symbols']"
					[queryParams]="{symbol: comment.data.symbolDownModel.name}">
					<i class="symbol-img symbol-img-{{comment.data.symbolDownModel.name}}"></i>
					<div style="width: 100%">
						<p>{{comment.data.symbolDownModel.displayName}}</p>
						<p><i
								class="fa fa-arrow-down"></i>{{comment.data.symbolDownModel.changedDAmount}}%
						</p>
					</div>
				</a>
			</article>

			<article *ngIf="!comment.type" [ngClass]="{'fade-in': comment.isNew}">
				<header>
					<a [attr.href]="comment.createUser ? '#/user/' + comment.createUser?._id : null">
						<img [attr.src]="comment.createUser?.img | NormalizeImgUrl" />
					</a>
					<div>
						<a [attr.href]="comment.createUser ? '#/user/' + comment.createUser?._id : null"
							class="g-username">
							{{comment.createUser?.name || comment.createCompany?.name}}
						</a>
						<a [routerLink]="['/comment/', comment.mongo_id]">
							<time>{{comment.fromNow}}</time>
						</a>
					</div>
					<!-- <i class="fa fa-ellipsis-v more-post-actions-button" (click)="showMorePostActions(comment)"></i> -->
				</header>
				<main>
					<h2 *ngIf="comment.title" [innerHtml]="comment.title"></h2>
					<a *ngFor="let img of comment.imgs"
						[attr.href]="comment.url ? comment.url : null" target="_blank"
						class="comment-image">
						<img [attr.src]="img | NormalizeImgUrl:'comment'">
					</a>
					<p [innerHtml]="comment.content | parseCommentContent"></p>
					<a *ngIf="comment.content?.length > 400" (click)="onClickShowMoreText(comment, $event)"
						class="showMoreTextButton">show
						more
					</a>
				</main>
				<footer>
					<div class="parent-buttons">
						<a (click)="toggleLike(comment)" [ngClass]="{activeLike: (comment).iLike}">
							<span *ngIf="(comment).iLike">I Like</span>
							<span *ngIf="!(comment).iLike">like</span>
							<span *ngIf="(comment).likeCount > 0">
								<mat-icon>thumb_up</mat-icon> {{(comment).likeCount}} -
							</span>
						</a>
						<a (click)="focusInput($event)">
							{{(comment).childCount || 0}} comment(s)
							<mat-icon>chat_bubble</mat-icon>
						</a>
					</div>
					<a *ngIf="comment.childCount > comment.children?.length" class="load-more-row"
						(click)="loadMoreChildren(comment)">
						Load older comments
					</a>
					<div class="child-row" *ngFor="let child of comment.children; trackByFn">
						<a [routerLink]="['/user/', child.createUser._id]">
							<img [attr.src]="child.createUser.img | NormalizeImgUrl" />
						</a>

						<div style="width: 100%;">
							<a class="g-username"
								[routerLink]="['/user/', child.createUser._id]">{{child.createUser.name}}</a>
							<span [innerHtml]="child.content | parseCommentContent"></span>
							<div class="child-buttons" style="display: flex">
								<a (click)="toggleLike(child)" [ngClass]="{activeLike: !!child.iLike}">
									<span *ngIf="(child).iLike">I Like</span>
									<span *ngIf="!(child).iLike">Like</span>
									<span *ngIf="(child).likeCount > 0">
										&nbsp;
										<mat-icon>thumb_up</mat-icon>&nbsp;- {{(child).likeCount}}
									</span>
								</a>
								<time>&nbsp;{{child.fromNow}}</time>
								<!-- <i class="fa fa-ellipsis-v more-comment-actions-button" (click)="showMoreCommentActions(child)"></i> -->
							</div>
						</div>
					</div>

					<div class="child-row comment-input">
						<img [attr.src]="accountService.account$.getValue().img | NormalizeImgUrl">
						<mat-form-field floatLabel="never" class="mat-form-field--dark mat-form-field--flat">
							<input matInput type="text" placeholder="Write a comment..."
								(keyup.enter)="respond($event, comment)">
						</mat-form-field>

					</div>
				</footer>
			</article>
		</ng-container>
	</div>
	<mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
</div>
<!-- 
<div class="d-none d-lg-block" style="padding-top: 20px;">
	<div class="info-box">
		<header>Info</header>
		<main>
			<p>Followers: 0</p>
			<p>Following: 0</p>
		</main>
	</div>
</div> -->