<form>
    <textarea #content [placeholder]="placeholderText"></textarea>

    <div class="footer-buttons">
        <input accept="image/*" #fileInput style="display: none;" multiple type="file"
            (change)="onChangeFileInput($event)" #uploadBtn />
        <button mat-button mat-raised-button color="primary" class="uploadBtn" (click)="fileInput.click()">Choose
            Files</button>

        <button mat-button mat-raised-button color="primary" (click)="post()">
            <mat-spinner *ngIf="busy$ | async" [diameter]=20></mat-spinner>Share
        </button>
    </div>

    <div class="image-previews">
        <img *ngFor="let image of images$ | async" [src]="image | NormalizeImgUrl:'comment'" />
    </div>
</form>